$color-dark: #333;
$color-black: #000;
$color-white: #fff;

$color-bg-base: #f7f5f0;
$color-bg-input: #f5f3f0;
$color-bg-contact: #e8e2d7;
$color-bg-footer: #25382b;
$color-border: #e0dfdf;


$font-title: 'Noto Serif JP', serif;
$font-base: 'Noto Sans JP', sans-serif;
$font-size-base: 0.875rem;

